/* body * {
  border-style: solid;
} */

body {
  margin: auto;
  background-color: white;
}

h1 {
  color: royalblue;
  margin-bottom: 20px;
}

table {
  border-collapse: collapse;
}

td {
  padding: 5px;
}

tr {
  border-bottom-style: solid;
  border-bottom-color: royalblue;
}

#app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

#phase1 {
  display: flex;
  flex-direction: column;
}

#phase2 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}

#phase3 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}

#phase4 {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.blue-button {
  background-color: royalblue;
  border: 2px solid royalblue;
}
.blue-button:hover {
  background-color: white;
  color: royalblue;
}

.red-button {
  background-color: coral;
  border: 2px solid coral;
}
.red-button:hover {
  background-color: white;
  color: coral;
}

.green-button {
  background-color: green;
  border: 2px solid green;
}
.green-button:hover {
  background-color: white;
  color: green;
}

.button {
  color: white;
  border-radius: 10px;
  padding: 10px 20px;
  margin: 10px;
  font-size: 16px;
  cursor: pointer;
}