body {
  background-color: lightblue;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1, h2, h3 {
  color: white;
  margin-bottom: 20px;
}

.class-button {
  background-color: white;
  color: lightblue;
  border: 2px solid lightblue;
  border-radius: 10px;
  padding: 10px 20px;
  margin: 10px;
  font-size: 16px;
  cursor: pointer;
}

.class-button:hover {
  background-color: lightblue;
  color: white;
}
